
<div class=" col-md-4 mx-auto card p-0 bg-light">
  <div class="card-header text-info text-center h4"> Nueva Tarea</div>
    <div class="card-body">
    <form class="mx-auto" action="/tarea" method="post" >
      <div class="form-group">
        <input class="form-control" type="text" name="tarea" placeholder= "Escriba tarea a Realizar">
      </div>
      <div class="envio form-group text-center">
          <button  class="btn btn-responsive btn-info" type="submit" value="Crea Tarea">Crear Tarea</button>
      </div>
    </form>
    </div>
  </div>
</div>
